<%- include("header") -%>

 <div class="container-fluid main">
    <div class="row ">
    <div class="col">  </div>

        <div class="col-sm-12 col-lg-4 d-flex justify-content-center main-col">
            <div class="row">
                <div class="col-sm-12">
            <h1 class="project-c">Contacto</h1>
            <div class="col-sm-12 noPading">
                <label>Contacte con migo atraves de :</label>
            </div>
            <div class="col-sm-12 noPading">
               <h5 class="h5-contact">Telefono</h5> 
               <label>646-154-735</label>
            </div>
            <div class="col-sm-12 noPading">
                <h5 class="h5-contact">Correo</h5> 
                <label>gabyiy2000@hotmail.com</label>
             </div>
             <div class="col-sm-12 noPading">
                <h5 class="h5-contact">Linkedin</h5> 
                <label> <a href="https://www.linkedin.com/in/nitagabrieldev"><i class="fa fa-lg fa-brands fa-linkedin"></i></a></label>
             </div>
        </div>
        </div>
            
        </div>
        <div class="col"></div>
  
</div>

<%- include("footer") -%>