<%- include("header") -%>

 <div class="container-fluid main">
    <div class="row ">
    <div class="col">  </div>

        <div class="col-sm-12 col-lg-4 d-flex justify-content-center main-col">
            <div class="row">
                <div class="col-sm-12">
            <h1 class="project-c">Contacto</h1>
            <div class="col-sm-12 noPading">
                <label>Contacte con migo atraves de :</label>
            </div>
            <div class="col-sm-12 noPading">
               <h5 class="h5-contact">Telefono</h5> 
               <label>646-154-735</label>
            </div>
            <div class="col-sm-12 noPading">
                <h5 class="h5-contact">Correo</h5> 
                <label>gabyiy2000@hotmail.com</label>
             </div>
             <div class="col-sm-12 noPading">
                <h5 class="h5-contact">Linkedin</h5> 
                <label> <a href="https://www.linkedin.com/in/nitagabrieldev"><i class="fa fa-lg fa-brands fa-linkedin"></i></a></label>
             </div>
        </div>
        </div>
            
        </div>

        <div class="col-sm-12 col-lg-4 d-flex justify-content-center main-col">
            <form action="/contact" method="post">
                <div class="form-row">
                  <div class="col">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" placeholder="E">
                  </div>
                  <div class="col">
                    <label for="email">Correo</label>
                    <input type="text" class="form-control" name="email" placeholder="correo">
                  </div>
                </div>
                <div class="mb-6 d-flex row ">
                    <div class="col-sm-7 ">
                    <label for="message">Mesaje</label>
                    <textarea class="form-control " name="message"  rows="9" placeholder="" ></textarea>
                </div>
                    <div class="col-sm-5 d-flex align-items-center justify-content-center ">
                        <button class=" circle-c text-decoration-none " type="submit"  href="/">
                            <p class="  h3-circle">
                              Send
                            </p>
                        </button>
                    </div>
                  </div>
                 
              </form>
        </div>
        <div class="col"></div>
  
</div>
</div>

<%- include("footer") -%>