<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script
    src="https://kit.fontawesome.com/6230d4baa3.js"
    crossorigin="anonymous"
  ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="bootstrap-4.6.1-dist/css/bootstrap-grid.min.css"
    />
    <link rel="stylesheet" href="bootstrap-4.6.1-dist/css/bootstrap.min.css" />
    <!--CSS-->
    <link rel="stylesheet" href="/CSS/main.css" />

    <title>Projects</title>
  </head>
  <body>
    <nav class="nav-bar">
      <div class="dot"></div>
      <div class="name"><a class="text-decoration-none Acolor" href="/">Nita Gabriel </a><span class="title">Developer</span></div>
      <ul class="topnav" id="navbar-toggle">
        <li><a class="nav--link" href="/contact">Contacto</a></li>
        <li><a class="nav--link" id="liA1" href="/projects">Proyectos</a></li>
        <li><a class="nav--link" id="liA2" href="/resume"> Resumen</a></li>
        <li class="dropdownLink">
          <a onclick="toggleDropdown()" href="javascript:void(0)">&#9776;</a>
        </li>
      </ul>
    </nav>