<%- include("header") -%>

    <section class="project-main-section-2">
      <h1 class="project-h">Proyectos</h1>
      <div class="container-fluid pad-project">
        <div>
          <h3 class="project-h name proj-apps"><a class="Acolor text-decoration-none" href="https://react-weather-app-gabi.herokuapp.com/">Weather-app</a></h3>
          <p>
           Este proyecto representa una aplicacion meteorologica que muestra los detalles del tiempo de la zona donde se encuentra el usuario con la ayuda de la geolocalizacion. Pero tanbien tiene la opcion de buscar que tiempo hay en otras ciudades.
          </p>
        </div>
        <img src="images/Wheater-App.png" class="proj1-img" />
      </div>
      <div class="container-fluid pad-project">
        <div>
          <h3 class="project-h name proj-apps">Project 1</h3>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font. I’m a great place for you to
            tell a story and let your users know a little more about you.
          </p>
        </div>
        <img src="images/360flip.jpg" class="proj1-img" />
      </div>
      
    </section>
    <%- include("footer") -%>