<%- include("header") -%>

    <section class="project-main-section-2">
      <h1 class="project-h">Proyectos</h1>
      <div class="container-fluid pad-project">
        <div>
          <h3 class="project-h name proj-apps"><a class="Acolor text-decoration-none" href="https://react-weather-app-gabi.herokuapp.com/">Weather-app</a></h3>
          <p>
           Este proyecto representa una aplicacion meteorologica que muestra los detalles del tiempo de la zona donde se encuentra el usuario con la ayuda de la geolocalizacion. Pero tanbien tiene la opcion de buscar que tiempo hay en otras ciudades.
          </p>
        </div>
        <img src="images/Wheater-App.png" class="proj1-img" />
      </div>
      <div class="container-fluid pad-project">
        <div>
          <h3 class="project-h name proj-apps"><a class="Acolor text-decoration-none" href="https://food--blog-gabi.herokuapp.com/">Food Blog</a></h3>
          <p>
          Es un proyecto echo con MERN.La aplication esta relacionada con una food-blog 
          donde los usuarios pueden ver recetas,dejar comentarios y anadir recetas proprias 
          </p>
        </div>
        <img src="images/food.png" class="proj1-img" />
      </div>
      <div class="container-fluid pad-project">
        <div>
          <h3 class="project-h name proj-apps"><a class="Acolor text-decoration-none" href="https://e-commerce-gabi.herokuapp.com/"> E-commerce</a></h3>
          <p>
          El proyecto esta echo con MERN y representa un e-commerce.En este e-commerce los clientes pueden comprar diferentes productos y ver los dettalles sobre sus compras y su cuenta.Tambien tiene una area para el admin de la app, el admin tiene control total sobre la app y puede anadir productos,borar usuarios ver estatisticas sobre los diferentes productos vendidos entre otras cosas.
          </p>
        </div>
        <img src="images/e.png" class="proj1-img" />
      </div>
      
    </section>
    <%- include("footer") -%>