<%- include("header") -%>


    <section class="resume-main-section">
      <h1 class="resume-h">Resumen</h1>
      <div class="container-fluid pad-resume">
        <div>
          <h3 class="resume-h">Experiencia</h3>
          <h3 class="resume-h">de trabajo</h3>
        </div>
        <div class="flex-div">
          <div class="pad-t">
            <h7>2014 - Presente</h7>
          </div>
          <div class="width-work">
            <h5 class="resume-h">Conserje</h5>
            <p>
             Actualmente estoy trabajado para una comunida de proprietarios
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid pad-resume">
        <div>
          <h3 class="resume-h">Experiencia</h3>
          <h3 class="resume-h">de trabajo</h3>
        </div>
        <div class="flex-div">
          <div class="pad-t">
            <h7>2015 - 2019</h7>
          </div>
          <div class="width-work">
            <h5 class="resume-h">Vigilante</h5>
            <p>
             He estado trabajando como vigilante para <b>Prosegur, Mega2, ServPro</b> con un contrato a tiempo parcial. Garantizando la seguridad en diferentes tipos de eventos como los deportivos</p>
            </p>
          </div>
        </div>
      </div>
    
    </section>
    <%- include("footer") -%>